--Run from src/: make && ./jot render -l ../test/hi.lua -p '**/greet.tmpl' ../test/hi.tmpl one two three
This is Jot {{JOT_VERSION}} using Lua {{LUA_VERSION}}
Executable: {{{EXEPATH}}}
{{#ARGS}}
- {{.}}
{{/ARGS}}
From partial: {{> greet.tmpl}}
Hi, {{name}}! {{a}} + {{b}} = {{c}}
