--Run from src/: make && ./jot render -i ../test/hi.lua ../test/hi.tmpl
This is Jot {{JOT_VERSION}} using Lua {{LUA_VERSION}}.
Executable: {{{EXEPATH}}}
{{#ARGS}}
- {{.}}
{{/ARGS}}
Hi, {{name}}! {{a}} + {{b}} = ?
